.about {
  background-color: $background;
  padding-right: 260px;

  &__title {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    font-size: $title;
    font-family: "italiana";
    font-weight: 500;
    color: $mainColor;
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__me,
    &__web {
      &__subtitle {
        font-style: italic;
        font-family: "italiana";
        font-weight: 300px;
        color: $mainColor;
        padding: 5vh 0 5vh 5vh;
        font-size: $title;
      }

      &__text {
        font-family: "parisienne";
        font-size: $paragraph;
        padding: 0 60px;
        color: $mainColor;
        text-align: justify;
        tab-size: 2em;
      }
    }
  }
}

////////  RESPONSIVE /////////

@media all and (max-width: 800px) {
  .about {
    padding-right: 0;
    &__title {
      padding-top: 2vh;
      font-size: $font-size-title;
    }
    &__body {
      display: flex;
      flex-direction: column;
      &__me {
        &__subtitle {
          font-size: $font-size-subtitle;
          height: 100%;
        }
        &__text {
          font-size: $font-size-paragraph;
        }
      }
      &__web {
        &__subtitle {
          font-size: $font-size-subtitle;
        }
        &__text {
          font-size: $font-size-paragraph;
        }
      }
    }
  }
}
