.contact {
  background-color: $background;
  padding-right: 260px;

  &__title {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    font-size: 4rem;
    font-family: "italiana";
    width: auto;
    margin: auto;
    font-weight: 500;
    color: $mainColor;
  }

  &__text {
    font-family: "parisienne";
    font-size: 2rem;
    margin: 5% 4% 0 4%;
    color: $mainColor;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 60%;

    // &__form {
    //   display: flex;
    //   flex-direction: column;
    //   padding-left: 3%;
    //   width: 60%;

    &__header {
      padding-bottom: 10%;
    }

    &__complet {
      &__label {
        display: flex;
        justify-content: space-between;

        &__input {
          border: 0;
          border-bottom: solid;
          width: 100px;
          border-color: $mainColor;
        }

        textarea {
          border: 0;
          border-bottom: solid;
        }
      }
    }
    // }
  }
}
