.contact {
  background-color: $background;
  padding-right: 260px;

  &__title {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    font-size: 4rem;
    font-family: "italiana";
    width: auto;
    margin: auto;
    font-weight: 500;
    color: $mainColor;
  }

  &__text {
    font-family: "parisienne";
    font-size: $text;
    margin: 5% 4% 0 4%;
    color: $mainColor;
    display: flex;
    flex-direction: column;

    &__links {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;

      &__socialNetwork {
        &__map {
          display: flex;
          justify-content: space-evenly;
          &__a {
            &__img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      &__mail {
        &__a {
          &__img {
            width: 50px;
            height: 50px;
          }
        }
      }
      &__cv {
        &__a {
          &__img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

// RESPONSIVE ///

@media all and (max-width: 800px) {
  .contact {
    padding-right: 0;
    &__title {
      font-size: $font-size-title;
    }
    &__text {
      font-size: $font-size-text;
      &__links {
        display: unset;
        &__socialNetwork {
          padding-top: 30px;
          &__map {
            padding-top: 30px;
          }
        }
        &__mail {
          display: flex;
          justify-content: space-between;
          padding: 30px 0;
          &__a {
            padding-right: 100px;
          }
        }
        &__cv {
          display: flex;
          justify-content: space-between;
          padding-bottom: 30px;
          &__a {
            padding-right: 100px;
          }
        }
      }
    }
  }
}
