.contact {
  height: 100vh;
  &__header {
    display: flex;
    justify-content: space-around;
    &__title {
      font-size: 4rem;
      font-family: "italiana";
      width: auto;
      margin: auto;
      font-weight: 500;
      color: $mainColor;
    }
  }

  &__text {
    font-family: "parisienne";
    font-size: 2rem;
    margin: 5% 4% 0 4%;
    display: flex;
    color: $mainColor;

    &__info {
      width: 40%;
    }

    &__form {
      display: flex;
      flex-direction: column;
      padding-left: 3%;
      width: 60%;

      &__complet {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        color: $mainColor;

        &__label {
          display: flex;
          justify-content: space-between;

          &__input {
            border: 0;
            border-bottom: solid;
            width: 100px;
          }

          textarea {
            border: 0;
            border-bottom: solid;
          }
        }
      }
    }
  }
}
