.main {
  display: flex;
  flex-direction: row-reverse;

  &__onePage {
    margin-right: -300px;
  }
}

.home {
  background-color: $background;
  display: flex;
  justify-content: space-between;
  height: 100vh;

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &__text {
      display: inline;
      font-family: "italiana";
      padding-left: 5rem;
      margin-top: 5rem;

      &__title {
        font-size: 4.5rem;
        color: $mainColor;
      }

      &__subtitle {
        font-size: 2.2rem;
        color: $mainColor;
      }
    }
  }
}

/// RESPONSIVE ////
@media all and (max-width: 800px) {
  .main {
    &__onePage {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .home {
    height: 200px;
    &__right {
      &__text {
        padding-left: 2vh;
        margin-top: 2vh;
      }
    }
  }
}
