.home {
  width: 100%;
  background-color: rgb(250 250 249);
  display: flex;
  justify-content: space-between;

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__text {
      display: inline;
      width: 51rem;
      height: 100%;
      font-family: "italiana";
      padding-left: 5rem;
      margin-top: 5rem;

      &__title {
        font-size: 4.5rem;
        color: $mainColor;
      }

      &__subtitle {
        font-size: 2.2rem;
        color: $mainColor;
      }
    }

    &__compass {
      font-family: "parisienne";
      font-size: 2.2rem;
      margin-bottom: 5rem;

      &__top {
        text-decoration: none;
        display: flex;
        justify-content: center;

        &__about {
          width: 11rem;
          position: relative;
          text-decoration: none;
          color: transparent;
          overflow: hidden;
          background: linear-gradient(
            to right,
            rgb(167, 152, 67),
            rgb(167, 152, 67) 50%,
            black 50%
          );
          background-clip: text;
          background-size: 200% 100%;
          background-position: 100%;
          transition: background-position 1000ms ease-in-out;
          &:hover {
            background-position: 0 100%;
          }
        }
      }
      &__middle {
        display: flex;
        justify-content: center;
        &__left {
          margin: auto 2%;

          &__tools {
            position: relative;
            text-decoration: none;
            color: transparent;
            overflow: hidden;
            background: linear-gradient(
              to right,
              rgb(167, 152, 67),
              rgb(167, 152, 67) 50%,
              black 50%
            );
            background-clip: text;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 700ms ease-in-out;
            &:hover {
              background-position: 0 100%;
            }
          }
        }

        &__right {
          margin: auto 2%;

          &__projects {
            position: relative;
            text-decoration: none;
            color: transparent;
            overflow: hidden;
            background: linear-gradient(
              to right,
              rgb(167, 152, 67),
              rgb(167, 152, 67) 50%,
              black 50%
            );
            background-clip: text;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 700ms ease-in-out;
            &:hover {
              background-position: 0 100%;
            }
          }
        }
      }
      &__bottom {
        display: flex;
        justify-content: center;

        &__contact {
          position: relative;
          text-decoration: none;
          color: transparent;
          overflow: hidden;
          background: linear-gradient(
            to right,
            rgb(167, 152, 67),
            rgb(167, 152, 67) 50%,
            black 50%
          );
          background-clip: text;
          background-size: 200% 100%;
          background-position: 100%;
          transition: background-position 700ms ease-in-out;
          padding-right: 1.2rem;
          &:hover {
            background-position: 0 100%;
          }
        }
      }
    }
  }
}
