.projects {
  background-color: $background;
  color: $mainColor;
  padding-right: 260px;

  &__title {
    font-size: $header;
    font-family: "italiana";
    width: auto;
    font-weight: 500;
    display: flex;
    padding-top: 5vh;
    justify-content: center;
  }
  &__details {
    &__map {
      gap: 30px;
      &__key {
        padding-top: 30px;
        text-align: center;

        &__title {
          padding-top: 30px;
          font-family: "italiana";
          font-size: $paragraph;
        }
        &__tools {
          padding-top: 30px;
          font-style: italic;
          font-size: $subtitle;
        }

        &__a {
          &__img {
            width: 400px;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

///// RESPONSIVE /////

@media all and (max-width: 1100px) {
  .projects {
    &__title {
      padding-top: 2vh;
      font-size: $font-size-title;
    }
    &__details {
      &__map {
        text-align: center;

        margin-top: 0;
        gap: 30px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .projects {
    padding-right: 0;
    &__details {
      display: flex;
      justify-content: center;
      &__map {
        width: 65%;
        &__key {
          margin-top: 25px;
          &__title {
            font-size: $font-size-title;
            padding-top: 15px;
          }
          &__tools {
            font-size: $font-size-subtitle;
            padding-top: 15px;
          }
          &__a {
            &__img {
              width: 250px;
              height: 125px;
            }
          }
        }
      }
    }
  }
}
