.projects {
  padding-right: 260px;
  height: 150vh;

  &__title {
    font-size: $title;
    font-family: $titleFamily;
    width: auto;
    font-weight: 500;
    display: flex;
    padding: 5vh 0;
    justify-content: center;
  }

  &__map {
    gap: 30px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 0 5rem 0 2rem;
    &__key {
      padding-top: 30px;
      &__a {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        cursor: pointer;
        gap: 3rem;

        &__img {
          width: 400px;
          height: 200px;
          border-radius: 10px;
          object-fit: cover;
        }
        &__text {
          gap: 1.5rem;
          display: flex;
          flex-direction: column;
          &__title {
            font-family: $titleFamily;
            font-size: $subtitle;
          }
          &__tools,
          &__desc {
            font-size: $paragraph;
            font-family: $paragraphFamily;
          }
          &__tools {
            font-style: italic;
          }
        }
      }
    }
    &__key:nth-of-type(2n + 2) {
      a {
        display: flex;
        flex-direction: row-reverse;
        text-align: end;
      }
    }
  }
}

///// RESPONSIVE /////

@media all and (max-width: 1100px) {
  .projects {
    &__title {
      padding-top: 2vh;
      font-size: $font-size-title;
    }
    &__map {
      text-align: center;
      margin-top: 0;
      gap: 30px;
    }
  }
}

@media all and (max-width: 800px) {
  .projects {
    padding-right: 0;
    &__details {
      display: flex;
      justify-content: center;
      &__map {
        width: 65%;
        &__key {
          margin-top: 25px;
          &__title {
            font-size: $font-size-title;
            padding-top: 15px;
          }
          &__tools {
            font-size: $font-size-subtitle;
            padding-top: 15px;
          }
          &__a {
            &__img {
              width: 250px;
              height: 125px;
            }
          }
        }
      }
    }
  }
}
