.tools {
  // width: 100vw;
  background-color: $background;
  color: $mainColor;
  padding-right: 260px;

  &__header {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    &__title {
      font-size: 4rem;
      font-family: "italiana";
      width: auto;
      margin: auto;
      font-weight: 500;
    }
  }
  &__map {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &--tools {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-items: center;
      gap: 2rem;
    }
  }
}

@media all and (max-width: 800px) {
  .tools {
    padding-right: 0;
    &__header {
      padding-top: 3vh;
      &__title {
        font-size: $font-size-title;
      }
    }
    &__map {
      &--tools {
        gap: 1rem;
      }
    }
  }
}
