.tools {
  padding-right: 260px;

  &__header {
    display: flex;
    justify-content: space-around;
    padding: 5vh 0;
    &__title {
      font-size: $title;
      font-family: $titleFamily;
    }
  }
  &__map {
    margin: 3rem 0;
    flex-direction: column;
    padding-right: 5rem;

    &--tools {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-items: center;
      gap: 2rem;
    }
  }
}
//// RESPONSIVE /////

@media all and (max-width: 1100px) {
  .tools {
    padding-right: 0;

    &__map {
      padding-right: 0;
      &--tools {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .tools {
    &__header {
      padding-top: 3vh;
      &__title {
        font-size: $font-size-title;
      }
    }
    &__map {
      display: flex;
      flex-direction: column;
      margin: 0;
      &--tools {
        grid-template-columns: 50% 50%;
        gap: 1rem;
      }
    }
  }
}
