.tools {
  background-color: $background;
  color: $mainColor;
  padding-right: 260px;

  &__header {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    &__title {
      font-size: $header;
      font-family: "italiana";
      width: auto;
      font-weight: 500;
    }
  }
  &__map {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--tools {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-items: center;
      gap: 2rem;
      padding-bottom: 30px;
    }
  }
}

@media all and (max-width: 800px) {
  .tools {
    padding-right: 0;
    &__header {
      padding-top: 3vh;
      &__title {
        font-size: $font-size-title;
      }
    }
    &__map {
      display: flex;
      flex-direction: column;
      &--tools {
        grid-template-columns: 50% 50%;
        gap: 1rem;
      }
    }
  }
}
