$mainColor: #060b72;
$background: #fff9ef;

/// LAPTOP ////

$header: 4rem;
$title: 2rem;
$subtitle: 1.5rem;
$text: 1.8rem;

//// RESPONSIVE /////

$font-size-header: 3.5rem;
$font-size-title: 3rem;
$font-size-text: 2.5rem;
$font-size-subtitle: 2rem;
