$mainColor: #060b72;
$background: #fff9ef;

/// LAPTOP ////

$header: 4rem;
$title: 2rem;
$subtitle: 2rem;
$paragraph: 2rem;

//// RESPONSIVE /////

$font-size-header: 2rem;
$font-size-title: 2rem;
$font-size-paragraph: 1.3rem;
$font-size-subtitle: 1.3rem;
